:root {
  --color-n0: #ffffff;
  --color-n1: #ccd6f6;
  --color-n2: #F25CAF;
  --color-n3: #048ABF;
  --color-n4: #04B2D9;
  --color-n5: #B7D996;
  --color-n6: #F29F05;  
  --size-nm: 12px;
  --size-nm: 14px;
  --size-nl: 18px;
  --size-no: 28px;
  --font-alegreya: 'Alegreya Sans', sans-serif;
  --font-arvo: 'Arvo', serif;
}
/* app*/
.App {
  background: var(--color-n5);
  font-family: var(--font-arvo);
}
/*header*/
.Header {
  background: var(--color-n3);
  font-family: var(--font-alegreya);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}
.Header-logo {
  font-family: var(--font-arvo);
  font-size: var(--size-no);
  color: var(--color-n0);
  
}
.Header-span {
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}

.Header-menu {
  display: none;
  flex-direction: column;
  width: 2em;
  height: 2em;
  border: 0;
  background: transparent;
  gap: .65em;
  cursor: pointer;
}
.Header-menuChild {
  background: var(--color-n0);
  height: 3px;
  width: 100%;
  border-radius: .3125rem;
  transition: all 0.5s;
  transform-origin: left;
}
.Header-menu:hover .Header-menuChild--One {
  transform: rotate(54deg);
  background: var(--color-n2);
}
.Header-menu:hover .Header-menuChild--Two {
  opacity: 0;
  background: var(--color-n2);

}
.Header-menu:hover .Header-menuChild--Three {
  transform: rotate(-54deg);
  background: var(--color-n2);

}

.Header-nav {
  font-size: var(--size-no);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.02rem;
  text-transform: lowercase;
}
.Header-ul {
  color: var(--color-n0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.Header-li {
  cursor: pointer;
  position: relative;
}
.Header-li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: var(--color-n2);
  transition: all 0.3s ease;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
.Header-li:hover::after {
  transform: scaleX(1);
}
.Header-link {}

@media screen and (max-width: 780px){
  .Header-menu {
    display: flex;
  }
  .Header-nav {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;

  }
  .Header-nav.isActive {
    height: 50vh;
    opacity: 1;
  }
  .Header-ul {
    flex-direction: column;
    margin: 0.5em 0;
  }
}

/*footer*/
.Footer {
  background: rebeccapurple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0;
}
.Footer-a {
  font-size: var(--size-ns);
}
.Footer-a:hover {
  color: var(--color-n1);
  font-size: var(--size-nv);
  font-weight: 700;
  transform: translateY(-0.20em);
  transition: all 0.5s ease;
}

.Footer-span {
  padding: 0 0.5em;
  font-family: var(--text-n2);
}